@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
#lichess_widget #link,
#lichess_widget #circle,
#lichess_widget .lichess,
#lichess_widget [datatitle]::after{
  transition: all 0.25s ease;
}
#lichess_widget.dark {
  color: #999;
  background: #333;
  border: 1px solid #000;
}
#lichess_widget.light {
  color: #777;
  background: #f5f5f5;
  border: 1px solid #c9c9c9;
}
#lichess_widget.small {
  min-width: 80px;
  max-width: 200px;
}
#lichess_widget {
  min-width: 250px;
  max-width: 350px;
  padding: 10px;
  font-family: "Lato", sans-serif;
}  
#lichess_widget #link {
  color: #36a;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  left: 5px;
}
#lichess_widget #link:hover {
  color: #36f;
}
#lichess_widget #title {
  color: #aa8300;
}
#lichess_widget #link #title {
  font-weight: bold;
  font-family: sans-serif;
}
#lichess_widget #circle {
  font-size: 13px;
}
#lichess_widget.dark #circle {
  color: #888;
}
#lichess_widget.light #circle {
  color: #777;
}
#lichess_widget #circle.online {
  color: #373;
}
#lichess_widget.dark .lichess {
  color: #aaa;
}
#lichess_widget.light .lichess {
  color: #777;
}
#lichess_widget .lichess {
  font-weight: bold;
  float: right;
  text-decoration: none;
}
#lichess_widget.dark .lichess:hover {
  color: #eee;
}
#lichess_widget.light .lichess:hover {
  color: #555;
}
#lichess_widget.dark #name {
  color: #aaa;
}
#lichess_widget.light #name {
  color: #555;
}
#lichess_widget #name {
  font-weight: bold;
}
#lichess_widget #bio {
  font-style: italic;
  position: relative;
  top: -5px;
}
#lichess_widget .icons {
  display: flex;
}
#lichess_widget.dark .icons a {
  color: #888;
}
#lichess_widget.light .icons a {
  color: #444;
}
#lichess_widget .icons a {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  flex-grow: 1;
}
#lichess_widget.dark .icons a:hover {
  background: #555;
  color: #aaa;
  border-color: #444;
}
#lichess_widget.dark .icons a:active {
  box-shadow: inset 0 0 3px #000;
  background: #333;
}
#lichess_widget.light .icons a:hover {
  background: #ccc;
  color: #222;
  border-color: #888;
}
#lichess_widget.light .icons a:active {
  box-shadow: inset 0 0 3px #aaa;
  background: #f5f5f5;
}

#lichess_widget.dark [datatitle]::after {
  background: #111;  
  border: 1px solid #333;
}
#lichess_widget.light [datatitle]::after {
  background: #eee;  
  border: 1px solid #bbb;
}
#lichess_widget [datatitle]::after {
  content: attr(datatitle);
  font-family: "Lato",sans-serif;
  position: absolute;
  margin-left: -40px;
  margin-top: 25px;
  font-size: 15px;
  padding: 3px;
  border-radius: 3px;
  opacity: 0;
}
#lichess_widget [datatitle]:hover::after {
  opacity: 0.7;
}
#lichess_widget #rating {
  margin-top: 20px;
  display: block;
  color: #36a;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
#lichess_widget #rating:hover {
  border-bottom: 1px dotted #36a;
}
#lichess_widget #rating #numgames {
  float: right;
}
#lichess_widget .alt {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 3px;
}
